.experience {
    background-color: #1e21336a;
    border-radius: 20px;
    width: 60%;
    height: 80%;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    z-index: 4;
    backdrop-filter: blur(1px);
}

.column_75 {
    float: left;
    width: 70%;
    height: 100%;
}

.column_75_exp {
    margin-top: 5%;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.column_25 {
    float: left;
    width: 28%;
    height: 100%;
    margin-left: 1.5%;
}

.column_25_menu {
    margin-top: 15%;
}

#exp1, #exp2, #exp3 {
    color: white;
    border-right-width: 1px;
    border-right-color: rgb(171,171,174);
}
#exp1:hover, #exp2:hover, #exp3:hover {
    background-color: rgb(35, 41, 65);
}

#exp1.active, #exp2.active, #exp3.active {
    color: white;
    background-color: rgb(35, 41, 65);
    border-right-width: 3px;
}

.points{
    color:rgb(171, 171, 174);
}

.exp_title {
    font-size: 22px;
}
.exp_company {
    font-size: 22px;
    color:rgb(122 122 177);
}

.job_header {
    width: 100%;
    height: 15%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: inset 0px -20px 25px 5px rgba(6, 11, 36, 0.8);
}

.job_logo {
    margin-top: 7%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}